contratos/types/factura.xsd

<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="factura">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:integer" name="idFactura"/>
        <xs:element type="xs:string" name="valor"/>
        <xs:element type="xs:integer" name="convenio"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>